{% extends 'layout.html' %}
{% block nav %}      
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/my posts" class="current">Posts</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>	
{% endblock nav %}

{% block content %}
<div class="welcome">
    <h2>Your Posts</h2>   <button class="post_btn"><a href="{{ url_for('create_post') }}">Post New</a></button>
</div>
{% for post in posts %}
<div class="post_section">
    {% if post.user_id == current_user.id %}

        <h2><a href="{{ url_for('post', post_id=post.id) }}" class="post_title">{{ post.title }}</a></h2>
        

        <p>{{ post.date_posted.strftime("%H:%M  %m/%d/%Y") }} | <strong>{{ post.author.firstname }} {{ post.author.lastname }}</strong>| <strong>Category:</strong> <a href="{{ url_for('cat', cate=post.category) }}">{{ post.category }}</a></p>
        
        <p>{{ post.content }}</p><a href="{{ url_for('post', post_id=post.id) }}">Continue reading...</a>
        <div class="update">
            <button><a href="{{ url_for('edit_post', post_id=post.id) }}" class="post_btn">Edit</a></button>
            <button><a href="{{ url_for('del_post', post_id=post.id) }}" class="post_btn">Delete</a></button>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock content %}